---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");

const pageName = "Blog";
const pageSubtitle = "Welcome to my bloggity blog";
---

<BaseLayout pageName={pageName} pageSubtitle={pageSubtitle}>
  <p>This is where I will write my blog posts.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          <a href={`/posts/${post.id}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
