---
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);

const pageName = "Blog";
const pageSubtitle = "Welcome to my bloggity blog";
---

<BaseLayout pageName={pageName} pageSubtitle={pageSubtitle}>
  <p>This is where I will write my blog posts.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
