---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageName = "Starting Page";
---

<BaseLayout pageName={pageName} pageSubtitle="Praise Lord Jesus Christ">
  <h2>The layout is in effect. 😎</h2>
</BaseLayout>
